<include href="views/header.html"></include>

<body>

<div class="container">
    <h1>Personal Information</h1>


    <form action="#" method="post" class="form-horizontal">

        <!-- get info -->
        <div class="form-group">
            <label for="fName" class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="fName" id="fName" ></div>

            <label for="LName" class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="LName" id="LName" ></div>

            <label for="email" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="email" id="email" ></div>

            <label for="Phone" class="col-sm-4 control-label">Phone</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="Phone" id="Phone" ></div>

        </div>
        <br>



        <!-- submit button -->
        <div class="col-xs-3 ">
            <button class="btn btn-primary" type="submit">Next</button>
        </div>
    </form>

</div>
</body>
</html>