

<body>


<div class="p-5 mx-3">
    <h4>FaisonIndustries LLC</h4>
    <h4>FullStack Developer Internship</h4>
    <h6>Seattle, WA, Paid, 12 Weeks</h6>
</div>

<div class="container">
    <h1>Personal Information</h1>


    <form action="/process-personal-info" method="post" class="form-horizontal">

        <!-- get info -->
        <div class="form-group">
            <label for="fName" class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="fName" id="fName" ></div>
            <check if="{{ isset(@errors['fName']) }}">
                <span class="err">{{ @errors['fName'] }}</span>
            </check>

            <label for="LName" class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="LName" id="LName" ></div>
            <check if="{{ isset(@errors['lName']) }}">
                <span class="err">{{ @errors['lName'] }}</span>
            </check>

            <label for="email" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="email" id="email" ></div>
            <check if="{{ isset(@errors['email']) }}">
                <span class="err">{{ @errors['email'] }}</span>
            </check>

            <label for="phone" class="col-sm-4 control-label">Phone</label>
            <div class="col-sm-4"><input class="form-control" type="text"
                                         name="Phone" id="phone" ></div>
            <check if="{{ isset(@errors['phone']) }}">
                <span class="err">{{ @errors['phone'] }}</span>
            </check>

            <label>
                <input type="checkbox" name="mailing_list" value="yes"> Opt-in to receive job announcements
            </label>
            <label>
                Upload your picture:
                <input type="file" name="profile_pic" accept="image/png, image/jpeg">
            </label>


        </div>
        <br>



        <!-- submit button -->
        <div class="col-xs-3 ">
            <button class="btn btn-primary" type="submit">Next</button>
        </div>
    </form>

</div>
</body>
</html>