

<body>

<div class="p-5 mx-3">
    <h4>FaisonIndustries LLC</h4>
    <h4>FullStack Developer Internship</h4>
    <h6>Seattle, WA, Paid, 12 Weeks</h6>
</div>



<div class="container">
    <h1>Job Openings Mailing Lists</h1>


    <form action="#" method="post" class="form-horizontal">

        <!-- get food -->
        <div class="form-group">
            <label class="col-sm-4 control-label">Software Development Jobs</label>

            <div class="col-sm-4">
                <repeat group="{{ @code }}" value="{{ @code[] }}">
                    <label><input type="radio" name="code[]" value="{{ @code }}"> {{ ucfirst(@code) }}</label><br>
                </repeat>


            </div>

            <label class="col-sm-4 control-label">Industry Verticals</label>

            <div class="col-sm-4">
                <label><input type="checkbox" name="code[]" value="SaaS">SaaS</label><br>
                <label><input type="checkbox" name="code[]" value="industrial">Industrial tech</label><br>
                <label><input type="checkbox" name="code[]" value="health">Health tech</label><br>
                <label><input type="checkbox" name="code[]" value="cyber">Cybersecurity</label><br>
                <label><input type="checkbox" name="code[]" value="ag">Ag tech</label><br>
                <label><input type="checkbox" name="code[]" value="hr">HR tech</label><br>


            </div>
        </div>
        <br>



        <!-- submit button -->
        <div class="col-xs-3 ">
            <button class="btn btn-primary" type="submit">Next</button>
        </div>
    </form>

</div>
</body>