<body>

<div class="p-5 mx-3">
    <h4>FaisonIndustries LLC</h4>
    <h4>FullStack Developer Internship</h4>
    <h6>Seattle, WA, Paid, 12 Weeks</h6>
</div>

<div class="container">
    <p>Name: {{ @SESSION.name }}</p>
    <p>Email: {{ @SESSION.email }}</p>
    <p>Phone: {{ @SESSION.Phone }}</p>
    <p>Github Link: {{ @SESSION.git }}</p>
    <p>Experience: {{ @SESSION.ex }}</p>
    <p>Willing to relocate: {{ @SESSION.move }}</p>
    <p>Mailing List: {{ @SESSION.code }}</p>


    <a href="{{ @BASE }}">Home page</a>
</div>
</body>
</html>